.container{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-demo{
    border-radius: 15px;
    background-color: blanchedalmond;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-demo:hover{
    width: 110%;
    height: 110%;
    z-index: 1;
    transition: 0.2s;
}

.product-1{
    background: url("/./img/cars3.jpg") center center / cover no-repeat;
}
.product-2{
    background: url("img/cars5.jpg") center center / cover no-repeat;
}.product-3{
    background: url("./img/cars6.jpg") center center / cover no-repeat;
}.product-4{
    background: url(".//img/cars2.jpg") center center / cover no-repeat;
}
.sale-1{
    background: url("/img/cars4.jpg") center center / cover no-repeat;
}
.sale-2{
    background: url(".//./img/cars7.jpg") center center / cover no-repeat;
}.sale-3{
    background: url("./../img/cars8.jpg") center center / cover no-repeat;
}.sale-4{
    background: url("/img/cars9.jpg") center center / cover no-repeat;
}

.cards-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(200px, 260px));
    grid-template-rows: repeat(4, 180px);
    grid-template-areas: 
        "sale1 sale1 product1 product2"
        "sale2 sale2 product1 product2"
        "product3 product4 sale3 sale3"
        "product3 product4 sale4 sale4";
}

@media (max-width: 889px) {
    .cards-grid{
        grid-template-columns: repeat(2, minmax(180px, 260px));
        grid-template-rows: repeat(8, 180px);
        grid-template-areas: 
            "sale1 sale1"
            "sale2 sale2"
            "product1 product2" 
            "product1 product2" 
            "sale3 sale3" 
            "sale4 sale4"
            "product3 product4"
            "product3 product4";            
    }
}

@media (max-width: 409px) {
    .cards-grid{
        width: 100%;
        grid-template-columns: 1fr; /* Почему 1 фр */
        grid-template-rows: repeat(12, 140px);  /* Почему по 140 */
        grid-template-areas: 
            "sale1" 
            "sale2"
            "product1"
            "product1"
            "product2" 
            "product2"
            "sale3" 
            "sale4"
            "product3"
            "product3"
            "product4"
            "product4";            
    }
}



.sale-1{ grid-area: sale1;}
.sale-2{ grid-area: sale2;}
.sale-3{ grid-area: sale3;}
.sale-4{ grid-area: sale4;}

.product-1{ grid-area: product1;}
.product-2{ grid-area: product2;}
.product-3{ grid-area: product3;}
.product-4{ grid-area: product4;}





